Source: nornet-trace
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@iem.uni-due.de>
Homepage: https://www.nntb.no/
Build-Depends: cmake,
               debhelper (>= 12),
               dh-python,
               python3-all
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: nornet-trace-importer
Architecture: all
Depends: hipercontracer (>= 1.2.0~),
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: Trace importer for NorNet Core
 NorNet Trace Importer is the importer cron job to import results from the
 NorNet Trace Service into a database.
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-trace-service
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: hipercontracer (>= 1.2.0~),
 sysvinit-utils,
         nornet-trace-importer (= ${binary:Version}),
         nornet-tunnelbox,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: Trace Service for NorNet Core
 NorNet Trace Service is the traceroute service for the NorNet testbed.
 It performs regular HiPerConTracer runs among all sites.
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-trace-trigger
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: hipercontracer-trigger (>= 1.3.0~),
 sysvinit-utils,
         nornet-trace-importer (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Triggered Trace Service for NorNet Core
 NorNet Trace Trigger is the traceroute service for the NorNet testbed.
 It performs triggered HiPerConTracer runs.
 .
 See https://www.nntb.no for details on NorNet!
