Source: nornet-trace-service
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@simula.no>
Homepage: https://www.nntb.no/
Build-Depends: cmake (>= 3.0.2) | cmake3,
               python3-all
Standards-Version: 4.3.0
Vcs-Git: https://github.com/simula/nornet-trace-service.git
Vcs-Browser: https://github.com/simula/nornet-trace-service

Package: nornet-trace-importer
Architecture: all
Depends: hipercontracer (>= 1.2.0~),
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Trace Importer
 NorNet Trace Importer is the importer cron job to import results from the
 NorNet Trace Service into a database.
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-trace-service
Architecture: all
Depends: hipercontracer (>= 1.2.0~),
         nornet-trace-importer (= ${binary:Version}),
         nornet-tunnelbox (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Trace Service
 NorNet Trace Service is the traceroute service for the NorNet testbed.
 It performs regular traceroute/traceroute6 runs among all sites.
 .
 See https://www.nntb.no for details on NorNet!
